# 忽略 Python 編譯文件
*.pyc
__pycache__/

# 忽略數據庫文件
*.sqlite3

# 忽略環境設置文件
.env

# 忽略虛擬環境目錄
venv/
env/

# 忽略 Django 靜態文件和媒體文件
staticfiles/
media/

# 忽略操作系統文件
.DS_Store
Thumbs.db

# 確保 text 文件使用 LF 行結束符
*.py text eol=lf
