{% extends "base.html" %}

{% block additional_content_01 %}
<div class="row" style="margin-bottom: 20px;">

    <!-- 左半邊選單部分 -->
    <div class="col-md-6">
        <h1>3C產品銷售</h1>
        <p>請輸入你的產品名稱、特性，並按照以下提示選擇你需要的文案風格，<br>
            LLM會根據你提供的資料，產出相應的銷售文案。</p>
        <!-- 引用表單部分 -->
        {% include 'topic/sales/sales_form.html' %}
    </div>
   
    <!-- 右半邊結果部分 -->
    <div class="col-md-6">
        <h1>以下是LLM產生的銷售文案</h1>
        
        <p id="response-text">等待後台返回文案。</p>
    </div>
    
</div>
{% endblock %}

{% block extra_js %}
    <!-- 處理右半邊結果 -->
    {% load static %}
    <script src="{% static 'js/topic/topic_sales.js' %}"></script>
{% endblock %}