<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}select_write{% endblock %}</title>
    <!-- Bootstrap CSS -->
    {% load static %}
    <link href="{% static 'css/bootstrap-5.3.3/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'css/index/styles.css' %}" rel="stylesheet">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center title">歡迎！ 這裡是select_write！</h1>
                {% include "menu.html" %}                
            </div>
        </div>
        {% block additional_content_01 %}{% endblock %}
        {% block additional_content_02 %}{% endblock %}
        {% block additional_content_03 %}{% endblock %}              
    </div>
    <!-- Bootstrap Bundle with Popper -->
    <script src="{% static 'js/bootstrap-5.3.3/bootstrap.bundle.min.js' %}"></script>
    <!-- jQuery -->
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <!-- menu按鈕功能 -->
    <script src="{% static 'js/menu_dropdown-hover.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
