<div class="row"  style="margin-bottom: 20px;">
    <div class="col-md-2">
        <a href="{% url 'index:index' %}">
            <button type="button" class="btn btn-primary active">首頁</button>
        </a>
    </div>
    <div class="col-md-2">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                主題
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="{% url 'topic:sales' %}">3C產品銷售</a></li>
                <li><a class="dropdown-item" href="#">自然題目編輯</a></li>
                <li><a class="dropdown-item" href="#">這裡有其他的東西</a></li>
            </ul>            
        </div>
    </div>
    <div class="col-md-2">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                動作
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                <li><a class="dropdown-item disabled" href="#">動作</a></li>
                <li><a class="dropdown-item" href="#">另一個動作</a></li>
                <li><a class="dropdown-item" href="#">這裡有其他的東西</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-2">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
                動作
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                <li><a class="dropdown-item disabled" href="#">動作</a></li>
                <li><a class="dropdown-item" href="#">另一個動作</a></li>
                <li><a class="dropdown-item" href="#">這裡有其他的東西</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-2">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton4" data-bs-toggle="dropdown" aria-expanded="false">
                動作
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
                <li><a class="dropdown-item disabled" href="#">動作</a></li>
                <li><a class="dropdown-item" href="#">另一個動作</a></li>
                <li><a class="dropdown-item" href="#">這裡有其他的東西</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-2">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton5" data-bs-toggle="dropdown" aria-expanded="false">
                個人帳號
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton5">
                <li><a class="dropdown-item" href="{% url 'user:register' %}">註冊</a></li>
                <li><a class="dropdown-item" href="{% url 'user:login' %}">登入</a></li>
                <li><a class="dropdown-item" href="{% url 'user:logout' %}">登出</a></li>
            </ul>
        </div>
    </div>
</div>
